/*!****Form****!*/

* {box-sizing: border-box;}
.BookingForm{
  background-color: #f69a73;
  padding: 80px 0;
	position: relative;
}
.eui-widget-title{
	font-size: 43px !important;
	font-family: 'Pacifico' !important;
	color: #ffffff !important;
}
.eapps-root, .eapps-testimonials-slider, .eapps-root *, .eapps-testimonials-slider *{
	color: #ffffff !important;
}
.form-rows{
	display: flex;
	justify-content: space-between;
}
.form-row{
    display: block;
    margin-bottom: 25px;
}
.BookingForm__wrap__welcome-block{
	width: 100%;
	padding-top: 50px;
}

.BookingForm__wrap__form-block{#bfbfbfdth: 60%;
}
legend{
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	text-align: center;
	color: #d2691e;
	padding: 15px 15px 30px;
}
label{
	line-height: 40px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #a52a2a;
}
::-webkit-input-placeholder {
	color:#bfbfbf;
	font-size: 14px;
}
::-moz-placeholder {
	color:#bfbfbf;
}
:-moz-placeholder {
	color:#bfbfbf;
}
:-ms-input-placeholder {
	color:#bfbfbf;
}
.decor {
	position: relative;
	max-width: 600px;
	margin: 50px auto 0;
	background: white;
	border-radius: 30px;
	padding: 10px;
}
fieldset#fs-frm-inputs {
	padding: 50px;
	margin: 30px;
	border: 6px solid #f3d6c3;
	border-radius: 35px;
}
#fs-frm [type="text"], #fs-frm [type="email"], #fs-frm textarea {
	width: 100%;
}
#fs-frm input, #fs-frm select, #fs-frm textarea {
	border: 2px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.9);
	padding: 15px;
	margin-bottom: 1.5em;
	border-radius: 5px;
}
.form-left-decoration,
.form-right-decoration {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background: #f69a73;
	border-radius: 20px;
}
.form-left-decoration {
	bottom: 60px;
	left: -30px;
}
.form-right-decoration {
	top: 60px;
	right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	border-radius: 30px;
	background: white;
}
.form-left-decoration:before {top: -20px;}
.form-left-decoration:after {
	top: 20px;
	left: 10px;
}
.form-right-decoration:before {
	top: -20px;
	right: 0;
}
.form-right-decoration:after {
	top: 20px;
	right: 10px;
}
.circle {
	position: absolute;
	bottom: 80px;
	left: -55px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
	display: block;
	width: 100%;
	padding: 0 20px;
	margin-bottom: 10px;
	background: #E9EFF6;
	line-height: 40px;
	border-width: 0;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
	margin-top: 30px;
	background: #f69a73;
	border-bottom: 4px solid #d87d56;
	color: white;
	font-size: 14px;
}
.form-inner textarea {resize: none;}
.form-inner h3 {
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #707981;
  padding-top: 30px;
  text-align: center;
}
#form-feedback{
	display: none;
}