/*!****Form****!*/

* {box-sizing: border-box;}
.BookingForm{
  background-color: #f69a73;
  padding: 80px 0;
	position: relative;
}
/*.BookingForm:before{*/
/*	position: absolute;*/
/*	content: '';*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	background-image: url("../images/background_london.jpg");*/
/*}*/
.BookingForm__wrap{
    display: flex;
}
.form-row{
    display: block;
    margin-bottom: 25px;
}
.BookingForm__wrap__welcome-block{
    width: 40%;
}
.BookingForm__wrap__form-block{
    width: 60%;
}
.decor {
	position: relative;
	max-width: 600px;
	margin: 50px auto 0;
	background: white;
	border-radius: 30px;
	padding-top: 30px;
}
fieldset#fs-frm-inputs {
	padding: 50px;
	border: 1px solid green;
	margin: 30px;
}
#fs-frm [type="text"], #fs-frm [type="email"], #fs-frm textarea {
	width: 100%;
}
#fs-frm input, #fs-frm select, #fs-frm textarea {
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.9);
	padding: .75em 1em;
	margin-bottom: 1.5em;
}
.form-left-decoration,
.form-right-decoration {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background: #f69a73;
	border-radius: 20px;
}
.form-left-decoration {
	bottom: 60px;
	left: -30px;
}
.form-right-decoration {
	top: 60px;
	right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	border-radius: 30px;
	background: white;
}
.form-left-decoration:before {top: -20px;}
.form-left-decoration:after {
	top: 20px;
	left: 10px;
}
.form-right-decoration:before {
	top: -20px;
	right: 0;
}
.form-right-decoration:after {
	top: 20px;
	right: 10px;
}
.circle {
	position: absolute;
	bottom: 80px;
	left: -55px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
	display: block;
	width: 100%;
	padding: 0 20px;
	margin-bottom: 10px;
	background: #E9EFF6;
	line-height: 40px;
	border-width: 0;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
	margin-top: 30px;
	background: #f69a73;
	border-bottom: 4px solid #d87d56;
	color: white;
	font-size: 14px;
}
.form-inner textarea {resize: none;}
.form-inner h3 {
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #707981;
  padding-top: 30px;
  text-align: center;
}