@import "reset.css";
@import "skeleton.css";
@import "font-awesome.css";
@import "superfish.css";


/*font-family: 'Pacifico', cursive;*/

html {
	width: 100%;

}
.container{
    width: 1240px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: auto;
    position: relative;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
	-webkit-text-size-adjust: none;
}

body {
	position: relative;
    color: #737272;
    font-family:'Montserrat', sans-serif;
}
body.otherPage{
  top: 270px;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

strong {
	font-weight: 700;
}

address {
	font-style: normal;
}

/*p {*/
	/*margin-bottom: 20px;*/
/*}*/

.p1 {
    margin-bottom: 14px;
}

input {
	outline: none !important;
}


img {
	max-width: 100%;
}



/****Heads****/


h2 {
    font-size: 135px;
    line-height: 30px;
    color: #ffb529;
    font-weight: 400;
    margin-bottom: 130px;
    font-family: 'Pacifico', cursive;
}

h3 {
    font-size: 30px;
    line-height: 27px;
    color: #002747;
    padding-top: 116px;
    margin-bottom: 17px;
    font-weight: normal;
}

h3.head1 {
    padding-top: 111px;
    margin-bottom: 33px;
}



.page1 h3 {
    padding-top: 69px;
    margin-bottom: 41px;
}

.page1 h3.head1 {
    padding-top: 41px;
}

h5 {
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  color: #224484;
  font-family: 'Pacifico';
}

/****Lists****/


ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list {
    margin-bottom: 2px;
}


ul.list+h3.head1 {
    padding-top: 79px;
}

ul.list li {
    font-size: 18px;
    padding-left: 21px;
    background: url(../images/marker.png) 0 6px no-repeat;
}

ul.list li+li {
    margin-top: 10px;
}

ul.list + a.link1 {
    padding-left: 25px;
    padding-right: 22px;
    border-radius: 11px;
}

/****Links****/

.low {
    text-transform: none;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.2s ease;
	-o-transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
}

a:hover {
	color: #c73430;
}

a.col1:hover a {
    color: #c73430;
}

a.btn {
    font-size: 14px;
    line-height: 20px;
    color: #737272;
    display: inline-block;
    background-color: #e5e5e5;
    padding: 5px 26px 4px;
    margin-top: 28px;
    border-radius: 8px;
}

a.btn:hover {
    background-color: #c73430;
    color: #fff;
}

/****classes****/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}

.pad1 {
}


.img_inner {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 17px;
	margin-top: 7px;
}


.fleft {
	float: left;
	width: auto !important;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 4px;
}

.page1 .fleft {
    margin-top: 5px;
}

.page1 .fleft {
    margin-right: 16px;
}

.oh {
	overflow: hidden;
}
.fright {
	float: right !important;
}
.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}

.main {
    height: auto;
}

/*header*/

.section__wrap{
    align-items: center;
  position: relative;
  z-index: 4;
}
.location__description, .location__map{
  width: 50%;
  max-width: 100%;
}
.header__logo img{
    max-width: 150px;
    width: 100%;
}
.header {
    background-color: rgba(255, 255, 255, .9) !important;
    position: fixed;
    left: 0;
    z-index: 999;
    right: 0;
    top: 0;
    padding-bottom: 0;
}
.section__wrap__nav-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  transition: .5s ease-out;
  border-bottom: 1px solid #dedbdb;
  height: 120px;
}
.nav-top-hide{
  opacity: 0;
  height: 0;
}
.nav-top-hide + .section__wrap__nav-bottom{
  margin-top: -10px;
}
.section__wrap__nav-bottom{
  padding-top: 15px;

}
.header__contact{
  width: 250px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
}
.contact__top-right{
  text-align: right;
}

header h1 {
	position: relative;
	text-align: center;
}


header h1 a {
	display: inline-block;
	overflow: hidden;
	width: 390px;
  height: auto;
	font-size: 0;
	line-height: 0;

	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;
}

/**Content**/

.posts {
  background-color: #fff;
  padding-bottom: 115px;
}
.section__wrap__posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.onePost{
  max-width: 290px;
  height: 350px;
  position: relative;
}
.onePost:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, .45);
  border-radius: 15px;
}
.banner{
  position: relative;
}
.banner img{
  border-radius: 15px;
  max-height: 350px;
}

.banner .label {
  color: #fff;
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: -38px;
  right: 0;
  text-transform: uppercase;
  z-index: 10;
}


.banner .label .title {
  font-size: 30px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.banner .label .price span {
  display: block;
  font-size: 24px;
  padding-top: 3px;
}

.banner a {
  font-size: 20px;
  line-height: 20px;
  color: #0093ea;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  background-color: #e5e5e5;
  padding: 15px 0;
  margin-top: 40px;
  width: 100%;
  font-weight: 300;
  opacity: 0;
  transition: all .5s ease;
  text-transform: none;
}
.onePost:hover .banner a{
  opacity: 1;
}
.banner a:hover {
  background-color: #c73430;
  color: #fff;

}

/**  aboutCompany  **/

.aboutCompany{
  padding: 90px 150px 120px;

}
.section__wrap-aboutCompany{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.aboutCompany__image, .aboutCompany__description{*/
  /*width: 50%;*/
/*}*/
.aboutCompany__image img {
  max-width: 590px;
}
.aboutCompany__description{
  text-align: center;
  padding-left: 50px;
}
.aboutCompany__description h1{
  font-family: 'Pacifico';
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 60px;
  color: #99226c;
}
.aboutCompany__description p{
  font-size: 18px;
  line-height: 27px;
}
/**Partners**/

.partners{
  padding: 70px;
}
.partners .section__wrap h4{
  position: relative;
}
.partners .section__wrap h4:before{
  position: absolute;
  content: 'Туроператоры';
  font-size: 90px;
  color: rgba(0, 0, 0, .05);
  right: 50%;
  transform: translate(45%, -29px);
}

h4{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  text-transform: none;
  color: #000;
  font-weight: 500;
  z-index: 3;
  position: relative;
}
.slider-logo .slick-slide img{
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}
.partners .slick-track{
  display: flex;
  align-items: center;
}
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #7ecefd;
  z-index: 99;
}
i.fas.fa-chevron-right.slick-arrow {
  right: -60px;
}
i.fas.fa-chevron-left.slick-arrow {
  left: -70px;
}
.fa-chevron-right:before, .fa-chevron-left:before {
  content: "\f054";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}
/**ourService**/

.ourService{
  padding: 80px 0;
  background-image: url("../images/background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 170px;
}

.ourService__wrap{
  display: flex;
  width: 1240px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.ourService__wrap__item{
  text-align: center;
  width: 380px;
  max-width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  transition: all .5s ease-in-out;
}
.ourService__wrap__item:hover {
  -webkit-box-shadow: 4px 5px 10px 0px rgba(132,134,135,1);
  -moz-box-shadow: 4px 5px 10px 0px rgba(132,134,135,1);
  box-shadow: 4px 5px 10px 0px rgba(132,134,135,1);
  cursor: pointer;
  background-color: #ffffff6b;
}

img.ourService__wrap__item--icon {
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 3px 2px 7px;
  margin-bottom: 35px;
}
.ourService__wrap__item--title{
  font-size: 30px;
  font-weight: 500;
  color: #184382;
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;
  line-height: 33px;
}
.ourService__wrap__item--description {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  color: #7c7c7c;
}
/**photoClients**/

/*.photoClients {*/
/*  !*padding: 80px 0;*!*/
/*  background-image: url("../images/sea.jpg");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  position: relative;*/
/*}*/
/*.photoClients:before{*/
/*  position: absolute;*/
/*  content: '';*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: rgba(121, 85, 72, 0.57);*/
/*  top: 0;*/
/*}*/
/*.photoClients h4{*/
/*  color: #ffffff;*/
/*}*/


.slider-container {
    position: relative;
    height: 100%;
    user-select: none;
    cursor: all-scroll;
}
.slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
}
.slider-control.inactive:hover {
    cursor: auto;
}
.slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
}
.slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
}
.slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    transform: translate(-50%, -50%) scale(1);
}
.slider {
    z-index: 1;
    position: relative;
    height: 100%;
}
.slider.animating {
    transition: transform 0.5s;
    will-change: transform;
}
.slider.animating .slide__bg {
    transition: transform 0.5s;
    will-change: transform;
}
.slide {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 810px;
    overflow: hidden;
}
.slide.active .slide__overlay, .slide.active .slide__text {
    opacity: 1;
    transform: translateX(0);
}
.slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
}
.slide:nth-child(1) {
    left: 0;
}
.slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-3.jpg');
}
.slide:nth-child(1) .slide__overlay-path {
    fill: #e99c7e;
}
@media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
        background-color: rgba(233, 156, 126, 0.8);
    }
}
.slide:nth-child(2) {
    left: 100%;
}
.slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-2.jpg');
}
.slide:nth-child(2) .slide__overlay-path {
    fill: #e1ccae;
}
@media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
        background-color: rgba(225, 204, 174, 0.8);
    }
}
.slide:nth-child(3) {
    left: 200%;
}
.slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-1.jpg');
}
.slide:nth-child(3) .slide__overlay-path {
    fill: #adc5cd;
}
@media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
        background-color: rgba(173, 197, 205, 0.8);
    }
}
.slide:nth-child(4) {
    left: 300%;
}
.slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg');
}
.slide:nth-child(4) .slide__overlay-path {
    fill: #cbc6c3;
}
@media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
        background-color: rgba(203, 198, 195, 0.8);
    }
}
.slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}
@media (max-width: 991px) {
    .slide__overlay {
        display: none;
    }
}
.slide__overlay path {
    opacity: 0.8;
}
.slide__text {
    position: absolute;
    width: 25%;
    bottom: 15%;
    left: 12%;
    color: #fff;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-50%);
    opacity: 0;
}
@media (max-width: 991px) {
    .slide__text {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20rem;
        text-align: center;
        transform: translateY(50%);
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        padding: 0 1rem;
    }
}
.slide__text-heading {
    font-family: 'Polar', Helvetica, Arial, sans-serif;
    font-size: 5rem;
    margin-bottom: 2rem;
}
@media (max-width: 991px) {
    .slide__text-heading {
        line-height: 20rem;
        font-size: 3.5rem;
    }
}
.slide__text-desc {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
    .slide__text-desc {
        display: none;
    }
}
.slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
    perspective: 1000px;
}
@media (max-width: 991px) {
    .slide__text-link {
        display: none;
    }
}
.slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: 50% 100%;
    transform: rotateX(-85deg);
    transition: transform 0.3s;
    will-change: transform;
}
.slide__text-link:hover:before {
    transform: rotateX(0);
}


/**ourTeam**/

.ourTeam{
  padding: 80px 0 120px;
}
.ourTeam h4{
  padding-bottom: 50px;
}
.section__wrap__ourTeam{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.persone__image img{
  border-radius: 15px;
  width: 400px;
  height: 550px;
  border: 10px solid #ffffff;
  object-fit: cover;
  -webkit-box-shadow: 6px 7px 35px 0px rgba(133,129,133,1);
  -moz-box-shadow: 6px 7px 35px 0px rgba(133,129,133,1);
  box-shadow: 6px 7px 35px 0px rgba(133,129,133,1);
  margin-bottom: 50px;
}
.persone__text {
  text-align: center;
  line-height: 50px;
  font-weight: 500;

}
.persone__text p{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: #c73430;

}
.persone__text--office{
  font-size: 25px !important;
}


/**location**/

section.location {
  height: 600px;
  position: relative;
}

.section__wrap--locations {
  display: flex;
}
.location iframe{
  width: 100%;
}

/*.location__map__block {*/
  /*max-width: 100%;*/
  /*padding: 50px;*/
  /*text-align: center;*/
  /*z-index: 10;*/
  /*position: relative;*/
/*}*/
.location__map__block--description{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #224484;
  width: 285px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.location__description{
  background: #BBF5FE;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.location__map__block {
  width: 400px;
  max-width: 100%;
}
.location__map__block h5{
  margin-bottom: 46px;
}
i.fas.fa-map-marker-alt {
  position: absolute;
  left: -45px;
  top: -3px;
  background: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 8px 10px;
  color: #4cdaf1;

}

/**Map**/




/**Footer**/

footer {
	display: block;
  padding: 60px 0 60px;
  color: #a3afba;
  font-family: 'Montserrat', sans-serif;
  background-color: #ff7a7a;
  position: relative;
}
footer:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-box-shadow: inset 0px 0px 21px -1px #B75858;
  box-shadow: inset 0px 0px 21px -1px #B75858;

}
.footer__section__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  flex-wrap: wrap;
}
.sf-menu.footer{
  flex-direction: column;
  width: 300px;
  max-width: 100%;
}
.sf-menu.footer li{
  width: 100%;
  line-height: 40px;
}
.sf-menu.footer li a{
  color: #ffffff;
  font-weight: 200;
}
.socials {
    padding-top: 33px;
}
.footer__section__wrap .header__logo img{
  width: 100%;
  max-width: 250px;
}
.footer__contact{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 270px;
  max-width: 100%;
  color: #ffffff;
  text-align: right;
}
.footer__contact--socials{
  width: 200px;
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 50px;
}
.footer__contact--socials a i{
  color: #ffffff;
}
.footer__contact--socials a i:hover{
  color: #00e0de;
}

.copy {
    padding-top: 44px;
    font-size: 10px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 500px;
    overflow: hidden;
    width: 50px;
    height: 49px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}


/*=====Shop Page=======*/

.pageHeader__wrap{
  text-align: center;
  margin-bottom: 80px;
}
.pageHeader__wrap h2{
  display: table;
  margin: 0 auto 10px;
  font-weight: 400;
  font-size: 80px;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 150px;
}

.pageHeader__wrap p{
  width: 100%;
  max-width: 700px;
  line-height: 30px;
  font-size: 19px;
  font-style: italic;
  margin: 0 auto;
}

.shopBox__wrap{

}

    /*ShopSlick*/

#toggleContainer label {
    text-align: center;
    width: 70px;
}

#container {
    width: 100%;
    box-sizing: border-box;
}

#toggleContainer {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95vw;
    position: absolute;
}

#tilesContainer {
    min-height: 90vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;

}

.tileItem {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;

    transition: all 0.5s ease;
}

.tileItem:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

#galleryContainer {
    height: 500px;
    width: 800px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#toggle {
    height: 10vh;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 10px;
}

#tilesView {
    min-height: 100vh;
    width: 100vw;
    background: rgb(246,210,106);
    background: linear-gradient(111deg, rgba(246,210,106,1) 0%, rgba(255,159,0,1) 52%, rgba(251,197,100,1) 100%);
    display: none;
    justify-content: center;
    align-items: center;

}

#galleryView {
    padding: 150px 0;
    width: 100vw;
    background: rgb(246,210,106);
    background: linear-gradient(111deg, rgba(246,210,106,1) 0%, rgba(255,159,0,1) 52%, rgba(251,197,100,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer3 {
    width: 100px;
    height: 40px;
    background-color: white;
    margin: 10px auto;
    border-radius: 3px;
    border: 2px solid white;
    transition: all 0.5s;
}

#slider3 {
    height: 36px;
    width: 46px;
    background-color: orange;
    border-radius: 3px;
    transition: all 0.5s;
}

#slider3.active {
    -webkit-transform: translatex(50px);
    -ms-transform: translatex(50px);
    -o-transform: translatex(50px);
    transform: translatex(50px);
    transition: all 0.5s;
    background-color: orange;
}

#outer3.outerActive {
    background-color: white;
    border: 2px solid white;
    transition: all 0.5s;
}

#mainView {
    height: 450px;
    width: 450px;
    border-radius: 5px;
    background-color: #eb9100;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
}

#mainView:hover {
    transform: scale(1.2);
    transition: all 1s;
}

#leftView {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(5deg);
    transform-origin: top right;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#leftView:hover {
    opacity: 1;
    transition: all 1s;
}

#rightView {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(-5deg);
    transform-origin: top left;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#rightView:hover {
    opacity: 1;
    transition: all 1s;
}

.navBtns {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    position: absolute;
    opacity: 0.8;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.navBtns:hover {
    opacity: 1;
    transition: all 1s;
    background-color: #eb9100;
}

#navLeft {
    left: 50px;
}

#navRight {
    right: 50px;
}

#linkTag {
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
}

/*======Galery======*/


/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 995px) {
 body {
 min-width: 768px;
}


.fl1 {
    float: none;
    margin-left: 0 !important;
    width: auto;
}

 .map figure,  .map figure iframe,  #form input,  #form textarea,  #form .success {
 width: 100% !important;
 float: none !important;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}
 .extra_wrapper {
 overflow: visible;
}

.map figure {
	margin-bottom: 15px;
}

.nowrap {
    white-space: normal;
}


.caption .price {
    display: none;
}

.caption {
    padding-top: 20px;
}


.camera_prev {
    margin-left: -374px;
}

.camera_next  {
    margin-right: -374px;
}

.fl1.fl2 {
    clear: both;
}



}
@media (max-width: 1024px){
  .slider-logo .slick-slide img {
    width: 150px;
  }
  .ourService__wrap{
    justify-content: space-around;
  }
}

@media (max-width: 768px){
  .ourService__wrap__item{
    width: 350px;
  }
}

@media only screen and (max-width: 767px) {
body {
    min-width: 420px;
}

header {
    -webkit-background-size: auto auto !important;
    -moz-background-size:  auto auto !important;
    -ms-background-size:  auto auto !important;
    -o-background-size:  auto auto !important;
    background-size:  auto auto !important;
}

#bookingForm {
    margin-right: 0;
}

.tmRadio p {
   padding-left: 0;
   padding-top: 10px;
}

.tmRadio {
    margin-left: 0 !important;
}

.tmRadio strong {
    margin-left: 0;
}

#bookingForm > strong + .controlHolder {
    width: 280px;
}

.camera_prev {
    margin-left: 0;
    left: 20px;
    bottom: 60px;
    top: auto;
    margin-top: 0;
}

.camera_next  {
    margin-right: 0;
    right: 20px;
    bottom: 60px;
    top: auto;
    margin-top: 0;
}


.banner img {
    width: 100%;
}


.banner {
    margin-bottom: 25px;
}

.block1 {
    margin-bottom: 30px;
}

.map address +address {
    margin-left: 0;
    float: none;
    margin-top: 20px;
}

.socials {
    float: none;
    overflow: hidden;
}

.copy {
    float: none;
    padding-top: 40px;
}

header h1 {
	display: block;
	width: auto;
    position: relative;
	height: auto;
    margin-bottom: 20px;
}

.img_inner {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
}

h1 a {
	max-width: 90%;
}

.img_inner img {
	width: 100%;
}

header h1 {
    float: none;
    text-align: center;
}

header h1 a {
 	width: auto;
 	display: inline-block;
    height: auto;
}


 .map {
 	padding-right: 0px !important;
 }

 .map figure iframe {
 width: 100%;
 height: 300px;
}
 .map address {
 	margin-right: 0;
}

.noresize {
 width: auto !important;
 float: left !important;
 margin-right: 20px !important;
 margin-top: 4px !important;
}

 .img_inner {
 margin-top: 30px;
}

.map address {
    float: none;
}

.ui-datepicker {
    width: 280px;
}

}

@media only screen and (max-width: 479px) {
 body {
 min-width: 300px;
}

#bookingForm > strong + .controlHolder {
    width: 210px;
}

.ui-datepicker {
    left: 50% !important;
    margin-left: -140px;
}

}
